<hgroup>
  <h2>{{ organization.name }}</h2>
</hgroup>
{% if organization.address_set.all or organization.email_set.all or organization.phone_set.all or organization.website_set.all %}
<ul class="organization">
  {% for address in organization.address_set.all %}
  {% if address.address1 %}<li class="address1">4747 NW Gateway Ave</li>{% endif %}
  {% if address.address2 %}<li class="address2">attn:RTC Techs</li>{% endif %}
  {% if address.city or address.state or address.zip %}<li class="city">Riverside, MO 64150</li>{% endif %}
  {% endfor %}

  {% for email in organization.email_set.all %}
  {% if email.address %}<li class="email"><a href="mailto:{{ email.address }}">{{ email.address }}</a></li>{% endif %}
  {% endfor %}

  {% for phone in organization.phone_set.all %}
  {% if phone.number %}<li class="phone">{{ phone.number }}</li>{% endif %}
  {% endfor %}

  {% for website in organization.website_set.all %}
  {% if website.url %}<li class="website">{{ website.url }}</li>{% endif %}
  {% endfor %}

  {% if organization.profile_set.all %}
  <li class="social">
    <ul>
    {% for profile in organization.profile_set.all %}
      {% if profile.type == 'Facebook' %}<li class="facebook"><a href="{{ profile.url }}" title="facebook"><i class="icon-facebook-sign icon-2x"></i></a></li>{% endif %}
      {% if profile.type == 'GooglePlus' %}<li class="plus"><a href="{{ profile.url }}" title="Google+"><i class="icon-google-plus-sign icon-2x"></i></a></li>{% endif %}
      {% if profile.type == 'Linkedin' %}<li class="linkedin"><a href="{{ profile.url }}" title="Linkedin"><i class="icon-linkedin-sign icon-2x"></i></a></li>{% endif %}
      {% if profile.type == 'Twitter' %}<li class="twitter"><a href="{{ profile.url }}" title="Twitter"><i class="icon-twitter-sign icon-2x"></i></a></li>{% endif %}
    {% endfor %}
    </ul>
  </li>
  {% endif %}
</ul>
{% endif %}
